:root {
  --font-main: 'Poppins', sans-serif;
  --color-bg: #000000;
  --color-primary: #ff85bb;
  --color-secondary: #242d3d;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main) !important;
  background-color: var(--color-bg);
  color: white;
  -webkit-font-smoothing: antialiased;
}