:root {
  /* Fonts */
  --font-main: "Quicksand", "Roboto", sans-serif;
  --font-nav: "Poppins", sans-serif;

  /* Colors - Chủ đạo là Pastel & Pink theo ý của Băng */
  --color-bg: #101a20;
  --color-bg-surface: #141f26;
  --color-text: #e7f2f7;
  --color-text-muted: rgba(231, 242, 247, 0.7);
  --color-primary: #ff85bb;
  --color-accent: #ff85bb; /* Màu hồng Băng chọn */
  
  /* Spacing & Radius */
  --radius-lg: 30px;
  --radius-md: 15px;
  --header-height: 80px;
  --transition: all 0.3s ease;
}